

// colors
$calc_bg: #002624;
$screen_bg: #70ad47;
$del_bg: #c00000;
$operator_bg: #595959;
$equal_bg: #1f4e79;
$num_bg: #7f7f7f;
$decimal_bg: #404040;


// fonts
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$button_font: Arial, Helvetica, sans-serif;
$screen_font: 'Press Start 2P', cursive;
